h1 { 
    color:midnightblue
}
h2 { 
    color:darkgoldenrod
}
h3 {
    color:darkslategrey;
    font-family: fantasy;
    text-align: center;
}
.date {
    background-color: aliceblue;
}
table { 
    text-align: center;
}
#source { 
    font-style: italic;
}
body {
 background-color: lavenderblush;
}
header h1 {
    color:red;
    text-align: center;
    font-family: fantasy;
    font-size: 40px;
}
header h1:hover:after {
    color: skyblue;
}
img{
    text-align: center;
}
