h1 { 
    color:midnightblue
}
h2{ 
    color:darkgoldenrod
}
.date{
    background-color: aliceblue;
}
table{ 
    text-align: center;
}
#source{ 
    font-style: italic;
}
body{
 background-color: lavenderblush;
}
.header{
    COLOR:red;
    text-align: center;
    font-family: fantasy;
}
.header:hover{
    color: skyblue;
    
}
